<p>Hey {{receiver.firstName}},</p>
<p>{{asker.lastName}}
  {{asker.firstName}}
  scheduled an appointment for
  {{startDate}}
  -
  {{endDate}}</p>

<p>Please cancel or confirm the appointment accordingly.</p>