<p>Hey {{asker.firstName}},</p>
<p>You scheduled an appointment for
  {{appointment.startDate}}
  -
  {{appointment.endDate}}</p>
<p>An e-mail has been sent to
  {{receiver.lastName}}
  {{receiver.firstName}}
  ({{receiver.email}}). He/She will have to confirm the appointment.</p>

<p>If the appointment has been confirmed or canceled you will be notified.</p>